/* colors */
* {
background:       #16132cff;
background-alt:   #131025;
background-blur:  #0f0c1e60;
foreground:       #fdfcff;
selected:         #BC6B53;
highlight:        #D88F72;
urgent:           #4C5073;
on:               #8A788E;
off:              #0f0c1e;
red:			  #ff815a;
green:			  #d8816c;
yellow:			  #ffb07e;
blue:			  #565ea1;
magenta:		  #be8bc9;
cyan:			  #8176be;
white:			  #fdfcff;
}
